.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(38, 41, 55, 1) !important;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 改为从顶部开始 */
  padding: 20px 20px 40px; /* 增加底部内边距 */
}

#game-logo {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#game-logo img {
  width: 100%; /* 让图片填满 game-logo div */
  height: auto; /* 保持图片比例 */
}

#intention {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 增加对齐样式 */
#intention-para,
#other-value-para {
    text-align: left; /* 左对齐 */
}

/* 居中目标状态和合作伙伴价值 */
#intention-para b span,
#other-value-para b span {
    display: block;
    text-align: center; /* 居中 */
}

/* 在 target state 左边添加偏移量并增加 bullet */
.target-state {
    display: inline-block; /* 保持 inline 块模型 */
    margin-left: 30px; /* 为 target state 添加偏移量 */
    position: relative; /* 确保 ::before 相对于 .target-state 定位 */
}

.target-state::before {
    content: "•"; /* 添加 bullet */
    position: absolute; /* 绝对定位 */
    left: -20px; /* 根据需要调整 bullet 的位置 */
    color: #ffffff; /* 设置 bullet 的颜色 */
}

#score-status {
    margin-bottom: 20px;
}

#status-bar p {
    margin: 5px 0;
}

#my-score {
    text-align: left;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px; /* 增加底部间距 */
}

#status-text {
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    font-size: 1.4rem;
}
#status-text p {
    font-size: 1.2rem;
    margin: 5px 0;
}

#help-btn {
    /* 自动左间距将其推到右侧 */
    /*margin-left: auto;*/
    margin: auto;
    display: flex;
    justify-content: center; /* 垂直居中 */
    margin-top: 25px;
}
.help-button {
    font-size: 1.2rem;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #2652DA;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.help-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#round-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* 增加底部间距 */
}


#desire-panel {
    margin-bottom: 4rem;
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.desire-item {
    margin-bottom: 6rem;
    width: 100%; /* 确保每个item占满面板宽度 */
}

.text-container {
    display: flex;
    font-size: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.tooltip {
    margin-left: 5px;
}

.icon {
    width: 1.4rem; /* 设置图标的宽度 */
    vertical-align: middle; /* 垂直对齐中间 */
    fill: #FF8D00; /* 设置图标的填充颜色 */
    background-color: #FFFFFF; /* 设置图标的背景色 */
    border-radius: 50%; /* 圆形图标 */
    padding: 2px; /* 内边距使图标更突出 */
    opacity: 0.6;
}

.icon:hover {
    opacity: 1; /* 悬停时完全不透明 */
    cursor: help; /* 将鼠标指针改为问号 */
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*align-items: stretch;*/
    background-color: rgba(28, 27, 27, 1);
    border-radius: 20px;
    box-sizing: border-box;
    position: relative; /* 使用相对定位 */
    height: 2.2rem;
}

.scale-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    position: relative; /* 添加相对定位 */
}

.side-emoji {
    font-size: 3rem; /* 或者使用 em 单位，如 1.5em */
    height: 4rem; /* 确保高度一致 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    transform: translateY(-55%); /* 垂直居中 */
}

.side-label {
    font-size: 1.4rem;
    color: #fff;
    text-shadow: none;
    position: absolute;
    bottom: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: normal; /* 确保字体不是加粗的 */
    background: none; /* 移除任何背景 */
    padding: 0; /* 移除内边距 */
    margin: 0; /* 移除外边距 */
    border: none; /* 移除边框 */
    box-shadow: none; /* 明确移除box-shadow */
}

/* 右侧边栏样式 */
#right-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: rgba(38, 41, 55, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 改为从顶部开始 */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#status-bar, #user-room-status {
    width: 85%;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

#status-bar {
    position: absolute;
    top: 15%;
    background-color: rgba(38, 41, 55, 1);
}

#user-room-status {
    position: absolute;
    top: 45%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}

#user-room-status h3 {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

#user-status, #room-status {
    margin-bottom: 15px;
}

#user-room-status p {
    font-size: 1.4rem;
    margin: 5px 0;
}

#user-room-status strong {
    /* color: #2652DA; */
    color: #FFFFFF;
}

.status-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
